@{
    ViewData["Title"] = "Forbidden";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="row text-center">
            <h3 class="text-danger">Forbidden</h3>
            <h4 class="text-danger">You do not have permission to do this function!</h4>
            <div>
                <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
            </div>
        </div>
    </main>
</div>